/.vs/
/Binaries/
/Build/
/Content/StarterContent/
/DerivedDataCache/
/Intermediate/
/Plugins/UnrealEnginePython/Binaries/
/Plugins/CesiumForUnreal_4.27
/Packaged/
/Saved/
/Content/Models/Qur/
/Content/Scripts/pickle
/Content/Materials/starmap_g8k.hdr
