numpy
sympy
fast-autocomplete
fast-autocomplete[levenshtein]
numba
kingdon
matplotlib
scikit-image
scikit-learn
dill
pystubgen
requests
pywin32
psutil
opencv-python
imageio
pymupdf

# cairosvg
# svglib 
# reportlab
# aggdraw

# Inkscape installed
# Blender installed